.montij-section {
  .montij-card {
    filter: grayscale(100%);
    flex-grow: 1;
    transition: all 0.5s linear;
    .montij-img {
      img {
        height: 100%;
        width: 100%;
        transition: all 0.5s linear;
      }
    }
    .montij-data {
      display: none;
      transition: all 0.5s linear;
    }
    &:hover {
      filter: grayscale(0%);
      .montij-img {
        img {
          height: calc(100% + 10%) !important;
          width: calc(100% + 10%) !important;
        }
      }
      .montij-data {
        display: flex;
      }
    }
  }
}
